* {
    font-family: "Avenir Next";
    text-align: center;
    margin: 0;
}

header {
    color: white;
    background-color: #003366;
    height:90px;
    position:fixed;
    z-index:1;
    width:100%;
}

a {
  text-decoration: none;
  color: red;
}

.logo {
    font-size:62px;
    paddintg-top:10px;
}


main {
    padding-top:120px
}

.kekka {
    font-size:35px;
}

form {
    padding:10px 20px 0px 20px;
    margin:0;
}

textarea {
    font-size:20px;
    width:80%;
    box-sizing:border-box;border:none;
    background: #f0f8ff;
    border:1px solid #cccccc;
    border-radius: 10px;
}

.button {
    padding-top:5px;
    padding-bottom:120px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
  
.button {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    background: #228bc8;
    justify-content: center;
    align-items: center;
    border: 1px solid #228bc8;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 45px 0 25px;
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
}

.button:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
}

.button:hover {
    background: #fff;
    color: #228bc8;
}

.button:hover:before {
    border-top: 2px solid #228bc8;
    border-right: 2px solid #228bc8;
}


@media screen and (max-width:480px) {
   textarea{
       width:100%;
   }
   header{
       height:60px;
   }
   .logo{
       font-size:40px;
   }
   main{
       padding-top:70px;
   }
   .button{
       max-width:270px;
   }
}
